<ul class="mobile-linklist">
    {% for link in linklists.main-menu.links %}
        <li class="mobile-linklist__item{% if link.levels > 0 %} has-child-list{% endif %}">
            <a class="mobile-linklist__item-link" href="{{ link.url }}">{{ link.title }} {% if link.levels > 0 %}<span class="open-icon"><img src="{{ 'open-linklist.svg' | asset_url }}" alt="icon"></span>{% endif %}</a>
            {% if link.links != blank %}
                <div class="mobile-child-linklist__wrapper">
                    <ul class="mobile-child-linklist">
                        {% for child_link in link.links %}
                            <li class="mobile-child-linklist__item">
                                <a class="mobile-child-linklist__item-link{% if link.levels > 1 %} has-child-list{% endif %}" href="{{ child_link.url }}">{{ child_link.title }} {% if link.levels > 1 %}<span class="open-icon"><img src="{{ 'open-linklist.svg' | asset_url }}" alt="icon"></span>{% endif %}</a>
                                {% if link.links != blank %}
                                    <div class="mobile-grandchild-linklist__wrapper">
                                        <ul class="mobile-grandchild-linklist">
                                            {% for grandchild_link in child_link.links %}
                                                <li class="mobile-grandchild-linklist__item">
                                                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>