<div class="search-product-card">
    <a class="product-card__link" href="{{ item.url | within: collection }}"></a>
    <div class="product-card__top">
        <div class="product-card__image talign-center">
            <img src="{{ item.featured_image.src | img_url: 'large' }}" alt="{{ item.featured_image.alt | escape }}">
        </div>
    </div>

    <div class="product-card__bottom">
        <div class="product-card__title">
            <h2>{{ item.title }}</h2>
        </div>
    
        <div class="product-card__price">
            <p class="product-card__vendor">{{ item.vendor }}</p>
            <div class="product-card__price__inner">
                <p>{{ item.price | money_without_trailing_zeros }}</p>
                {% if item.compare_at_price %}
                    <span class="product-card__compare_at_price">{{ item.compare_at_price | money_without_trailing_zeros }}</span>
                {% endif %}
            </div>
        </div>
    </div>    
</div>